.Cart {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Cart .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 500ms;
    width: 100%;
}

.Cart .wrapper-hiden {
    opacity: 0;
    position: absolute;
}

.Cart .title {
    font-size: 2rem;
}

.Cart .container {
    width: 50%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.Cart .bill {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Cart .total {
    font-size: 1.3rem;
    font-weight: 700;
    color: red;
    align-self: flex-start;
}

.Cart .submit {
    padding: 0.75rem 1rem;
    font-size: 0.9rem;
    border-radius: 0.25rem;
    border: 1px solid #dc3545;
    background-color: #dc3545;
    color: white;
    outline: none;
    cursor: pointer;
    transition: all 200ms;
}

.Cart .submit:active {
    border: 1px solid #8f1824!important;
    background-color: #8f1824!important;
}

.Cart .empty {
    transform: translateY(70%);
}

.Cart .submit-form {
    transform: scale(0);
    position: absolute;
    transition: all 600ms;
    z-index: 1;
}

.Cart .submit-form-showed {
    transform: scale(1);
}

.Cart .submit-form .title {
    text-align: center;
}

.Cart form {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
}

.Cart .form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.Cart .form-control label {
    margin-bottom: 0.5rem;
    margin-left: 0.25rem;
    color: #313131;
}

.Cart .form-control input, textarea {
    padding: 0.5rem 1rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    resize: none;
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    color: rgba(0, 0, 0, 0.6);
    outline: none;
    background-color: rgba(255, 255, 255, 0.9);;
}

.Cart .errors {
    color: red;
    font-size: 0.9rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    display: none;
}

.Cart .errors-showed {
    display: block;
}

.Cart form button {
    margin-top: 0.5rem;
    padding: 0.75rem 0;
    border-radius: 1rem;
    color: white;
    background-color: #dc3545;
    border: 1px solid #dc3545;
    font-size: 0.9rem;
    align-self: center;
    width: 100%;
    cursor: pointer;
    outline: none;
    transition: all 200ms;
}

.Cart form button:active {
    transform: scale(1.03);
}

.Cart .go-back {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    margin-top: 1rem;
    color: #dc3545;
    user-select: none;
    cursor: pointer;
    margin-bottom: 2rem;
}

.Cart .go-back i {
    font-size: 0.8rem;
}

@media screen and (max-width: 1200px) {
    .Cart .container {
        width: 60%;
    }
}

@media screen and (max-width: 992px) {
    .Cart .container {
        width: 70%;
    }
}

@media screen and (max-width: 768px) {
    .Cart .container {
        width: 93%;
    }
}

@media screen and (min-width: 769px) {
    .Cart .submit:hover {
        border: 1px solid #c2424f;
        background-color: #c2424f;
    }    
}
