.Contact {
    display: flex;
    justify-content: center;
    background-image: url('https://res.cloudinary.com/dumfvnj9f/image/upload/v1582139210/bookstore/contact-background_tp2hby.png');
    min-height: 80.8vh;
}

.Contact .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    transition: all 600ms;
}

.Contact .content-hiden {
    opacity: 0;
}

.Contact .title {
    font-size: 1.8rem;
    color: rgba(255, 255, 255, 0.9);
}

.Contact form {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
}

.Contact .form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.Contact .form-control label {
    margin-bottom: 0.5rem;
    margin-left: 0.25rem;
    color: rgba(255, 255, 255, 0.9);;
}

.Contact .form-control input, textarea {
    padding: 0.5rem 1rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    resize: none;
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    color: rgba(0, 0, 0, 0.6);
    outline: none;
    background-color: rgba(255, 255, 255, 0.9);;
}

.Contact .errors {
    color: red;
    font-size: 0.9rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    display: none;
}

.Contact .errors-showed {
    display: block;
}

.Contact form button {
    margin-top: 0.5rem;
    padding: 0.75rem 0;
    border-radius: 1rem;
    color: white;
    background-color: #28a745;
    border: 1px solid #28a745;
    font-size: 0.9rem;
    align-self: center;
    width: 100%;
    cursor: pointer;
    outline: none;
    transition: all 200ms;
}

.Contact form button:active {
    transform: scale(1.03);
}

.Contact .success {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-999px);
    transition: all 600ms;
    opacity: 0;
    position: absolute;
}

.Contact .success-showed {
    opacity: 1;
    transform: translateY(30vh);
}

.Contact .success-title {
    color: white;
    font-size: 2.5rem;
    margin-top: 1rem;
}

@media screen and (min-width: 769px) {
    .Contact form button:hover {
        background-color: #16c23e;
    }
}

@media screen and (max-height: 480px) {
    .Contact {
        min-height: 77.5vh;
    }
}